.madlibs__result-section {
  max-width : 480px;
  min-width : 399px;
  width: 100%
}

.madlibs__result-text {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 20px;
  min-height: 180px;
  width: 100%
}
